<h2 mat-dialog-title>Chỉnh sửa bài viết</h2>
<mat-dialog-content>
  <!-- Edit modal -->
  <div class="p-4 md:p-5">
    <form
      #createPostForm="ngForm"
      (ngSubmit)="onSubmitPost(createPostForm.value)"
      class="space-y-4"
    >
      <!-- Title -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tiêu đề</label
        >
        <input
          type="text"
          id="title-input"
          name="title"
          [ngModel]="data._title"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #title="ngModel"
        />
        <div
          *ngIf="title.invalid && (title.dirty || title.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="title.errors?.['required']">
            Tiêu đề không được bỏ trống.
          </div>
        </div>
      </div>
      <!-- Description -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Mô tả ngắn</label
        >
        <textarea
          [ngModel]="data._desc"
          type="text"
          rows="4"
          id="desc-input"
          name="desc"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Viết mô tả ngắn về phòng trọ ở đây..."
          #desc="ngModel"
        ></textarea>
        <div
          *ngIf="desc.invalid && (desc.dirty || desc.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="desc.errors?.['required']">Mô tả không được bỏ trống</div>
        </div>
      </div>
      <!-- Content  -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nội dung chính</label
        >
        <textarea
          [(ngModel)]="data._content"
          rows="8"
          type="text"
          id="content-input"
          name="content"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Viết mô tả chi tiết về phòng trọ ở đây..."
          #content="ngModel"
        ></textarea>
        <div
          *ngIf="content.invalid && (content.dirty || content.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="content.errors?.['required']">
            Nội dung mô tả chi tiết không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- Street -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Đường</label
        >
        <input
          [(ngModel)]="data.roomStreet"
          type="text"
          id="street-input"
          name="street"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #street="ngModel"
        />
        <div
          *ngIf="street.invalid && (street.dirty || street.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="street.errors?.['required']">
            Địa chỉ phòng trọ không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- District -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Quận</label
        >
        <input
          [(ngModel)]="data.roomDistrict"
          type="text"
          id="district-input"
          name="district"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #district="ngModel"
        />
        <div
          *ngIf="district.invalid && (district.dirty || district.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="desc.errors?.['required']">
            Địa chỉ phòng trọ không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- City -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Thành phố</label
        >
        <input
          value="Hồ Chí Minh"
          type="text"
          id="city-input"
          name="city"
          disabled
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- <div
          *ngIf="city.invalid && (city.dirty || city.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="desc.errors?.['required']">
            Địa chỉ phòng trọ không được bỏ trống.
          </div>
        </div> -->
      </div>

      <!-- Area -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Diện tích (m2)</label
        >
        <input
          [(ngModel)]="data.roomArea"
          type="text"
          id="area-input"
          name="area"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #area="ngModel"
        />
        <div
          *ngIf="area.invalid && (area.dirty || area.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="area.errors?.['required']">
            Diện tích không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- Renting price -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Gía thuê nhà theo tháng (VNĐ)</label
        >
        <input
          [(ngModel)]="data.roomPrice"
          type="text"
          id="renting_price-input"
          name="renting_price"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #retalPrice="ngModel"
        />
        <div
          *ngIf="retalPrice.invalid && (retalPrice.dirty || retalPrice.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="retalPrice.errors?.['required']">
            Gía thuê nhà không được bỏ trống
          </div>
        </div>
      </div>
      <!-- Electric price -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Gía điện (ký)</label
        >
        <input
          [(ngModel)]="data.roomElectricPrice"
          type="text"
          id="electric_input"
          name="electric"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #electricPrice="ngModel"
        />
        <div
          *ngIf="
            electricPrice.invalid &&
            (electricPrice.dirty || electricPrice.touched)
          "
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="electricPrice.errors?.['required']">
            Mô tả không được bỏ trống
          </div>
        </div>
      </div>
      <!-- Water price -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Gía nước (khối)</label
        >
        <input
          [(ngModel)]="data.roomWaterPrice"
          type="text"
          id="water_price_input"
          name="water_price"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #waterPrice="ngModel"
        />
        <div
          *ngIf="waterPrice.invalid && (waterPrice.dirty || waterPrice.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="waterPrice.errors?.['required']">
            Gía nước không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- Services -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Dịch vụ</label
        >
        <input
          [(ngModel)]="data.roomServices"
          type="text"
          id="services_input"
          name="services"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #services="ngModel"
        />
        <div
          *ngIf="services.invalid && (services.dirty || services.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="services.errors?.['required']">
            Dịch vụ không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- Utilities -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tiện ích</label
        >
        <input
          [(ngModel)]="data.roomUtilities"
          type="text"
          id="utilities_input"
          name="utilities"
          ngModel
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          #ultilities="ngModel"
        />
        <div
          *ngIf="ultilities.invalid && (ultilities.dirty || ultilities.touched)"
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <div *ngIf="ultilities.errors?.['required']">
            Tiện ích không được bỏ trống.
          </div>
        </div>
      </div>

      <!-- Tags -->
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Thêm tag</label
        >
        <!-- Your chosen tags -->
        <div
          class="flex flex-row flex-wrap bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <div
            class="flex flex-row h-6 bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover:cursor-pointer"
            *ngFor="let tag of selectedTags"
          >
            <span class="tag" (click)="updateChosentags(tag)">
              {{ tag._tag }}
            </span>
            <span
              (click)="updateChosentags(tag)"
              *ngIf="selectedTags.includes(tag)"
            >
              <mat-icon>clear</mat-icon></span
            >
          </div>
        </div>

        <!-- Tags to choose from -->
        <!-- <div class="mt-4 flex flex-wrap h-max-52 overflow-y-auto">
          <div
            *ngFor="let tag of sel"
            class="flex flex-row h-6 align-middle no-wrap bg-grey-background text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 mb-2 rounded-full dark:bg-indigo-900 dark:text-indigo-300 hover:bg-indigo-100"
            [class.chosenTag]="selectedTags.includes(tag)"
          >
            <span class="tag" (click)="updateChosentags(tag)">{{
              tag._tag
            }}</span>
            <span
              (click)="updateChosentags(tag)"
              *ngIf="!selectedTags.includes(tag)"
            >
              <mat-icon>add</mat-icon></span
            >
            <span (click)="updateChosentags(tag)" *ngIf="selectedTags.includes(tag)">
              <mat-icon>clear</mat-icon></span
            >
          </div>
        </div> -->
      </div>

      <!-- Images -->
      <div class="mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="multiple_files"
          >Chọn tối đa 5 ảnh</label
        >
        <div class="bg-white-background rounded-lg">
          <div class="flex flex-wrap mt-4">
            <!-- Image -->
            <div
              (click)="deleteImage(preview, index)"
              *ngFor="let preview of previews; index as index"
              class="basis-[19%] border-solid border-2 border-indigo-600 p-3 mr-1 relative hover:cursor-pointer h-36 w-full"
            >
              <img
                *ngIf="preview !== ''"
                [src]="preview"
                class="object-fill max-h-28 w-full"
              />
              <mat-icon
                *ngIf="preview === ''"
                (click)="image.click()"
                class="mat-icon-style hover:cursor-pointer hover:bg-indigo-100 hover:rounded-lg"
                >add</mat-icon
              >
              <input
                (change)="updateFile($event, index)"
                class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="image_file"
                name="image_file"
                type="file"
                multiple
                ngModel
                #image
              />
            </div>
            <!-- Add image -->
            <div
              *ngIf="previews.length < 5"
              (click)="addImage.click()"
              class="basis-[19%] border-solid border-2 border-indigo-600 p-3 mr-1 relative h-36 w-full"
            >
              <input
                (change)="addNewImage($event)"
                class="hidden w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="addImage"
                name="addImage"
                type="file"
                ngModel
                multiple
                #addImage
              />
              <mat-icon
                class="mat-icon-style hover:cursor-pointer hover:bg-indigo-100 hover:rounded-lg"
                >add</mat-icon
              >
            </div>
          </div>
        </div>

        <div
          *ngIf="
            selectedFileNames?.length === 0 && deletedImageIndexes.length === 5
          "
          class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <p>Vui lòng chọn ảnh</p>
        </div>
      </div>
    </form>
    <notifier-container></notifier-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button (click)="toHidePostDialog()" mat-button>Gỡ bài viết</button>
  <button
    (click)="onSubmitPost(createPostForm.value)"
    class="bg-blue-700 hover:bg-blue-800"
    style="color: white; background-color: #1a56db"
    mat-button
    type="submit"
    [disabled]="createPostForm.invalid"
  >
    Lưu
  </button>
</mat-dialog-actions>
