<h2 mat-dialog-title>{{ this.titles }}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="isLoading" class="spinner__loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>

  <div class="bg-white-background rounded-lg xs:p-2 md:p-6">
    <form [formGroup]="hotelEditForm" (ngSubmit)="onSubmit()">
      <!-- ID -->
      <mat-form-field class="w-full">
        <mat-label>ID khách sạn</mat-label>
        <input
          id="name-input"
          aria-label="ID khách sạn"
          matInput
          formControlName="idInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.idInputControl.hasError('required')
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>
      <!-- Name -->
      <mat-form-field class="w-full">
        <mat-label>Tên khách sạn</mat-label>
        <input
          id="name-input"
          aria-label="Tên khách sạn"
          matInput
          formControlName="nameInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.nameInputControl.hasError('required')
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>
      <!-- Description -->
      <mat-form-field class="w-full h-96">
        <mat-label>Thông tin</mat-label>
        <input
          aria-label="Thông tin"
          matInput
          formControlName="informationInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.informationInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>
      <!-- Địa điểm  -->
      <mat-form-field class="w-full">
        <mat-label>Địa điểm</mat-label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          matInput
          aria-label="Địa điểm"
          formControlName="locationInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.locationInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Location Description -->
      <mat-form-field class="w-full h-96">
        <mat-label>Mô tả</mat-label>
        <input
          aria-label="Mô tả"
          matInput
          formControlName="locationDescInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.locationDescInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Max guest -->
      <mat-form-field class="w-full">
        <mat-label>Khách/phòng</mat-label>
        <input
          aria-label="Khách phòng"
          matInput
          formControlName="maxGuestsInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.maxGuestsInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Max rooms -->
      <mat-form-field class="w-full">
        <mat-label>Số lượng phòng</mat-label>
        <input
          aria-label="Số lượng phòng"
          matInput
          formControlName="maxRoomsInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.maxRoomsInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Room price -->
      <mat-form-field class="w-full">
        <mat-label>Giá thuê ($)</mat-label>
        <input
          placeholder="Vui lòng chọn một"
          aria-label="Số nhà và tên đường"
          matInput
          formControlName="priceInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.priceInputControl.hasError('required')
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Rating -->
      <mat-form-field class="w-full">
        <mat-label>Điểm đánh giá</mat-label>
        <input
          aria-label="Điểm đánh giá"
          matInput
          formControlName="ratingInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.ratingInputControl.hasError('required')
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Total review -->
      <mat-form-field class="w-full">
        <mat-label>Lượng reviews</mat-label>
        <input
          aria-label="Lượng review"
          matInput
          formControlName="totalReviewInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.totalReviewInputControl.hasError(
              'required'
            )
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Type price -->
      <mat-form-field class="w-full">
        <mat-label>Loại phòng</mat-label>
        <input
          aria-label="Loại phòng"
          matInput
          formControlName="typeInputControl"
        />
        <mat-error
          *ngIf="
            this.hotelEditForm.controls.typeInputControl.hasError('required')
          "
        >
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
      </mat-form-field>

      <!-- Images -->
      <div class="flex flex-col items-center justify-start w-full">
        <label
          for="dropzone-file-front"
          class="flex flex-row items-start justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-row items-center justify-center">
            <svg
              class="w-8 h-12 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>

            <p class="relative top-1 text-xs text-gray-500 dark:text-gray-400">
              Ảnh khách sạn
            </p>
          </div>
          <input
            id="dropzone-file-front"
            #dropzoneFile
            type="file"
            class="hidden"
            (change)="selectFiles($event)"
          />
        </label>
        <mat-error *ngIf="!this.preview">
          Thông tin <strong>bắt buộc</strong>
        </mat-error>
        <div class="flex justify-center p-4">
          <img
            (click)="dropzoneFile.click()"
            [src]="preview"
            class="w-full rounded-md cursor-pointer"
          />
        </div>
      </div>

      <!-- Save btn -->
      <div class="mt-6 flex items-center justify-end gap-x-6"></div>
    </form>
    <notifier-container></notifier-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button
    *ngIf="this.data"
    type="button"
    (click)="addNewRoom()"
    class="mr-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
  >
    Thêm loại phòng
  </button>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="hotelEditForm.invalid"
    class="mr-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Lưu
  </button>
</mat-dialog-actions>
