.spinner__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-column-no
  .mat-column-airline
  .mat-column-price
  .mat-column-from_place
  .mat-column-to_place {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

table tr:last-child td /*To remove the last border*/ {
  border-bottom: 0 solid;
  border-radius: 8px !important;
}
