<header>
  <nav
    class="bg-primary-600 border-gray-200 h-12 dark:bg-gray-800 fixed top-0 w-full z-10"
  >
    <div
      class="flex flex-wrap justify-between items-center ml-6 max-w-screen-xl"
    >
      <!-- Login/Signup/Account/Post/Notifications -->
      <div class="flex items-center">
        <!-- Avatar and name -->
        <div
          *ngIf="isAuthenticatedUser"
          class="flex flex-row gap-1 cursor-pointer relative left-8"
        >
          <!-- <img
            src="{{ user?._avatar }}"
            (click)="updateAvatar()"
            class="w-8 h-8 rounded-full relative top-2"
            alt="Rounded avatar"
          /> -->
          <a
            [matMenuTriggerFor]="setting"
            class="relative top-1 text-white-text-color dark:text-white focus:ring-4 focus:ring-gray-300 rounded-lg text-sm font-normal lg:py-2.5 ml-1 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
            >{{ fullName }}</a
          >
          <mat-menu #setting="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span class="text-primary-text-color mb-0 text-sm"
                >Đăng xuất</span
              >
            </button>
          </mat-menu>
        </div>
        <!-- Notifications -->
        <!-- <button
          [matMenuTriggerFor]="menu"
          *ngIf="isAuthenticatedUser"
          class="tooltip-block"
          [matBadge]="notificationTotals"
          aria-hidden="false"
          matBadgeColor="warn"
          class="relative top-1.5 cursor-pointer ml-10"
        >
          <mat-icon> notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="below" class="pt-3">
          <div
            *ngFor="let noti of notificationList; index as i"
            class="flex flex-col text-sm pr-3 pl-3"
          >
            <p class="text-primary-text-color font-medium mb-0">
              {{ noti._title }}
            </p>
            <p
              mat-raised-button
              class="text-sub-text-color line-clamp-2"
              [matTooltip]="noti._message"
              [matTooltipPosition]="'left'"
              [matTooltipClass]="'mr-3'"
              matTooltipHideDelay="400"
            >
              {{ noti._message }}
            </p>
          </div>
          <mat-divider *ngIf="notificationList.length > 0"></mat-divider>
          <p class="text-sm text-sub-text-color p-3" style="margin-bottom: 2px">
            {{ notificationTotals }} thông báo chưa đọc
            <span
              (click)="toSeeAllNotifications()"
              class="text-blue-500 cursor-pointer hover:text-blue-600 ml-1"
              >Xem toàn bộ</span
            >
          </p>
        </mat-menu> -->
      </div>
    </div>
  </nav>
</header>
