.example-container {
  position: absolute;
  height: 100vh;
  width: 100dvw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  background-color: #2563eb;
}

.menu-icon-wrapper {
  height: 100vh;
}

:host ::ng-deep .mat-icon {
  color: white !important;
}

:host ::ng-deep .mat-drawer-side {
  box-shadow: none;
  border-right-color: #2563eb;
  border-right-width: 0px;
  border-right-style: none !important;
}
:host .actions-delete-color {
  color: #f44336 !important;
}

:host .actions-edit-color {
  color: #007c01 !important;
}
