<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div
        (click)="drawer.toggle()"
        [ngClass]="drawer.opened ? 'cursor-pointer pt-3 px-2' : 'invisible'"
      >
        <mat-icon>menu</mat-icon>
      </div>
      <div class="text-white text-normal max-w-full mt-2">
        <div
          (click)="toMyAccount()"
          class="inline-flex items-center justify-items-start cursor-pointer text-white bg-primary-600 hover:bg-blue-700 focus:ring-4 font-normal text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full"
        >
          <mat-icon class="mr-1" class="mr-1">person</mat-icon>
          Hồ sơ cá nhân
        </div>
        <mat-divider></mat-divider>
        <div
          (click)="toMyLoginDetail()"
          class="inline-flex items-center justify-items-start cursor-pointer text-white bg-primary-600 hover:bg-blue-700 focus:ring-4 font-normal text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-blue-700 w-full"
        >
          <mat-icon class="mr-1">lock</mat-icon>
          Thông tin đăng nhập
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let tab of tabs; last as isLast" class="p-0">
          <div
            (click)="checkTabAndNavigate(tab)"
            class=""
            [ngClass]="
              tab.active === true
                ? 'inline-flex items-center justify-items-start cursor-pointer text-white bg-primary-700 hover:bg-blue-700 focus:ring-4 font-normal text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-blue-700 w-full'
                : 'inline-flex items-center justify-items-start cursor-pointer text-white bg-primary-600 hover:bg-blue-700 focus:ring-4 font-normal text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-blue-700 w-full'
            "
          >
            <mat-icon class="mr-1" class="mr-1">{{ tab.icon }}</mat-icon>
            {{ tab.title }}
          </div>
          <mat-divider></mat-divider>
        </div>

        <div
          (click)="logout()"
          class="inline-flex items-center justify-items-start cursor-pointer text-white bg-primary-600 hover:bg-blue-700 focus:ring-4 font-normal text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full"
        >
          <mat-icon class="mr-1">exit_to_app</mat-icon>
          Đăng xuất
        </div>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="flex">
        <div
          (click)="drawer.toggle()"
          *ngIf="!drawer.opened"
          class="sticky top-0 menu-icon-wrapper pt-3 bg-primary-600 h-full w-10 cursor-pointer z-40"
          style="height: 100vh"
        >
          <mat-icon class="mx-2">menu</mat-icon>
          <mat-icon class="m-2">person</mat-icon>
          <mat-divider class="w-full"></mat-divider>
          <mat-icon class="m-2">lock</mat-icon>
          <mat-divider class="w-full"></mat-divider>
          <div
            *ngFor="let tab of tabs; index as i; last as isLast"
            [ngClass]="tab.active ? 'bg-primary-700' : ''"
          >
            <mat-icon class="m-2">{{ tab.icon }}</mat-icon>

            <mat-divider class="w-full"></mat-divider>
          </div>
          <mat-icon class="m-2">exit_to_app</mat-icon>
        </div>
        <app-header class="static top-0"></app-header>
        <div class="flex-1 px-6 py-4 mt-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
