<div class="relative">
  <div *ngIf="isLoading" class="spinner__loading text-center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <div class="flex justify-between">
    <h2 class="font-extrabold">{{ this.title }}</h2>
    <button
      type="button"
      (click)="addNewHotel()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-4"
    >
      <mat-icon>add</mat-icon>
      Thêm
    </button>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="border-radius: 8px !important"
  >
    <!-- Image Column -->
    <ng-container matColumnDef="image" style="border-radius: 8px !important">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="border-radius: 8px !important"
      >
        <p class="text-center" style="border-radius: 8px !important">#</p>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="seeDetail(element)"
        class="p-2"
      >
        <!-- <div class="max-w-16 max-h-16 p-2"> -->
        <img
          src="{{ element.image }}"
          alt="room image"
          style="width: 24px; height: 18px"
        />
        <!-- </div> -->
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><p>Tên khách sạn</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <p class="line-clamp-3">{{ element.name }}</p>
      </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef><p>Chi phí</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <div class="flex flex-row">
          <span class="relative top-1 ml-1 line-clamp-1">
            {{ element.price }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Total Review Column -->
    <ng-container matColumnDef="total_review">
      <th mat-header-cell *matHeaderCellDef><p>Tổng review</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <div class="flex flex-row">
          <span class="relative top-1 ml-1 line-clamp-1">
            {{ element.total_review }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef><p>Điểm đánh giá</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <div class="flex flex-row">
          <span class="relative top-1 ml-1 line-clamp-1">
            {{ element.rating }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Information Column -->
    <ng-container matColumnDef="information">
      <th mat-header-cell *matHeaderCellDef><p>Thông tin</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <div class="flex flex-row">
          <span class="relative top-1 ml-1 line-clamp-1">
            {{ element.information }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef><p>Địa điểm</p></th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <div class="flex flex-row">
          <span class="relative top-1 ml-1 line-clamp-1">
            {{ element.location }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Location Description Column -->
    <ng-container matColumnDef="location_description">
      <th mat-header-cell *matHeaderCellDef>
        <p>Mô tả</p>
      </th>
      <td mat-cell *matCellDef="let element" (click)="seeDetail(element)">
        <span class="line-clamp-1">
          {{ element.location_description }}
        </span>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions" style="border-radius: 8px !important">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="border-radius: 8px !important"
      >
        Khác
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="this.deleteHotel(element.id)"
          matRipple
          [matRippleCentered]="true"
          [matRippleRadius]="20"
          [matRippleUnbounded]="true"
          color="primary"
          class="actions-delete-color mr-1"
          >delete</mat-icon
        >

        <mat-icon
          (click)="seeDetail(element)"
          matRipple
          [matRippleCentered]="true"
          [matRippleRadius]="20"
          [matRippleUnbounded]="true"
          color="primary"
          class="actions-edit-color"
          >edit</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="cursor-pointer"
    ></tr>
  </table>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (toPrevPage)="changeCurrentPage($event, false, false)"
    (toNextPage)="changeCurrentPage($event, false, false)"
    (toFirstPage)="changeCurrentPage(0, $event, false)"
    (toLastPage)="changeCurrentPage(0, false, $event)"
  ></app-pagination>
</div>
